body {
  font-family: Arial;

}

/* Header/Blog Title */
.page-title {
  margin-top: 21px;
  padding: 21px;

  font-size: 40px;
  color: #5700A8;
  text-align: center;
	background-color: rgba(212, 165, 255,0.5);
}

.header-blog {
  margin: 0;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}